@font-face {
    font-family: "CNN Font";
    src: url("../fonts/cnn-font.woff") format('woff');
}

@font-face {
    font-family: "CNNSans";
    src: url("../fonts/cnnsans-regular.woff") format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: CNNSans,
        'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif
}

p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 24px;
    color: #1f1f1f;
}

p:last-child {
    margin-bottom: 50px;
}

.article-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 72px;
    position: relative;
}

.article-section,
.article-section a {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #c00;
    display: inline-block;
    font-weight: 300;
    text-transform: capitalize;
    vertical-align: top;
    margin-bottom: 18px;
    text-decoration: none;
}

.article-header {
    padding: 124px 0 72px 0;
}

.article-header h1 {
    font-family: 'CNN Font',
        "Times New Roman",
        Times,
        serif;
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: 400;
    padding-right: 30%;
}

#mainSubtitle {
    font-family: 'CNN Font',
        "Times New Roman",
        Times,
        serif;
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 15%;
}


.article-header h3 {
    color: #7a7a7a;
    font-size: 0.7rem;
    font-weight: 100;
}

.header-img-container {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header-img-container {
    position: relative;
}

.header-img-container figcaption {
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 16px;
    right: 400px;
    font-size: 0.65rem;
}

#related-articles {
    border-top: 1px solid #e6e6e6;
    float: right;
    width: 300px;
    margin-top: 750px;
}

#related-articles a {
    text-decoration: none;
}

#related-articles img {
    width: 78px;
    height: 78px;
}

#related-articles-header {
    text-transform: uppercase;
    color: #0c0c0c;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    padding: 30px 0;
}

.related-article {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.related-article:last-of-type {
    border: none;
}

.related-articles-section {
    margin-left: 10px;
    color: #cc0000;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 80px;
}

.related-articles-description {
    position: absolute;
    top: 20px;
    left: 90px;
    font-family: 'CNN Font',
        "Times New Roman",
        Times,
        serif;
    color: #0c0c0c;
    line-height: 1.25;
    font-size: 0.9rem;
    margin: 0;
}

section,
footer {
    margin-right: 24px;
    padding-right: 48px;
    border-right: 1px solid #e6e6e6;
    color: #1f1f1f;
    max-width: 727px;

}

section p,
footer p,
footer .share-on-social-media {
    padding-left: 188px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.2px;
    line-height: 24px;
    overflow: hidden;
}

section>p:first-of-type::first-letter {
    float: left;
    font-family: 'CNN Font',
        "Times New Roman",
        Times,
        serif;
    font-size: 80px;
    line-height: 1;
    margin: 4px 8px 0 0;
    text-transform: uppercase;
}

section a,
footer a {
    color: #0c0c0c;
}

section figure {
    margin-top: 56px;
    margin-bottom: 32px;
}

.authors-aside {
    width: 188px;
    padding-right: 16px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    color: #7a7a7a;
    font-size: 0.75rem;
    letter-spacing: 0.2px;
}

.author {
    color: #1f1f1f;
    font-weight: 800;
    font-style: normal;
}

.aside-p-container {
    position: relative;
}

.related-article-aside {
    width: 140px;
    float: left;
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 0.75rem;
    line-height: 18px;
}

.related-article-aside img {
    width: auto;
}

.related-article-aside h4 {
    color: #7a7a7a;
    font-weight: 100;
}

.related-article-aside a {
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.25px;
}

section img {
    width: 100%;
}

section figcaption {
    border-bottom: 1px solid #e6e6e6;
    color: #7a7a7a;
    line-height: 1.5;
    padding: 18px 0;
    margin-bottom: 32px;
    font-size: 0.8rem;
    display: inline-block;
    width: 100%;
}

.img-author {
    color: #c5c5c5;
    display: inline;
}

.embedded {
    width: 100%;
}

blockquote {
    border-left: 3px solid #cc0000;
    line-height: 32px;
    font-size: larger;
    font-style: italic;
    color: #575757;
    padding-left: 22px;
    margin-left: 188px;
    margin-top: 24px;
}

section>h2:first-child {
    margin-left: 188px;
}

.more-like-this {
    font-weight: 800;
    margin-left: 188px;
    margin-top: 24px;
    border: none;
}

.more-like-this ul {
    list-style-type: '-';
    list-style-position: inside;
}

.more-like-this a {
    text-decoration: none;
    color: #575757;
    font-weight: 100;
}

.share-on-social-media a {
    text-decoration: none;
}

.share-on-social-media button {
    border: none;
    background-color: transparent;
    width: 116px;
}

footer p {
    color: #575757;
    /* font-size: 16px; */
    line-height: 1.5;
    font-style: italic;
}


footer p:last-child {
    margin-bottom: 24px;
}

footer p:last-of-type::after {
    content: "";
    display: block;
    width: 153px;
    border-bottom: 2px solid #cc0000;
    margin: 24px 0;
}
